body{
  background-color: #e6e6e6;
  text-align: center;
  margin: 0 auto;
  font-family: Montserrat;
  color: black;
}

.pomo-box {
  background-color: #dfdce3;
  margin: 20px auto;
  width: 360px;
  height: 420px;
  resize: none;
  padding: 10px 10px;
  display: table;
  border: 1px solid #465c8b;
  border-radius: 28px;
}

.title {
  margin-top: 6%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #414141;
}


.round {
  margin: auto;
  margin-top: 8%;
  background-color: #dfdce3;
  width: 250px;
  height: 250px;
  border-radius: 180px;
  border: 2px solid #ff6a5c;
}

.timeDisplay, .breakDisplay {
  margin-top: 38%;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #414141;
  outline: 0 !important;
}

.sets{
  margin-top: 10%;
}

.set1{
  float:left;
  margin-left: 18%;
}

.set2{
  overflow-x:hidden;
}

.start{
  width: 100px;
  margin-top: 12%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #e6e6e6;
  background-color: #465c8b;
  border-radius: 6px;
  border: 3px solid #;
  outline: none !important;   
}

.startinactive{
  width: 100px;
  margin-top: 8%;
  margin-left: 12px;
  margin-bottom: 8%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  background-color: #dfdce3;
  border-radius: 6px;
  border: 1px solid grey;
  box-shadow: 0px 0px 0px;
  cursor: auto !important;
  outline: none !important;   
}

.pause {
  width: 100px;
  margin-top: 8%;
  margin-left: 12px;
  margin-bottom: 8%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #e6e6e6;
  background-color: #465c8b;
  border-radius: 6px;
  border: 3px solid #;
  outline: none !important; 
}

.pauseinactive {
  width: 100px;
  margin-top: 8%;
  margin-left: 12px;
  margin-bottom: 8%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  background-color: #dfdce3;
  border-radius: 6px;
  border: 1px solid grey;
  box-shadow: 0px 0px 0px;
  cursor: auto !important;
  outline: none !important;  
}


.reset {
  width: 100px;
  margin-top: 8%;
  margin-left: 12px;
  margin-bottom: 8%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color:  #e6e6e6;
  background-color: #465c8b;
  border-radius: 6px;
  outline: none !important;
  border: 3px solid #;
 // box-shadow: 3px 3px 5px #1b1b1c;
}

.resetinactive {
  width: 100px;
  margin-top: 8%;
  margin-left: 12px;
  margin-bottom: 8%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  background-color: #dfdce3;
  border-radius: 6px;
  outline: none !important;
  border: 1px solid grey;
  box-shadow: 0px 0px 0px;
  cursor: auto !important;
}


.setTimer {
  margin-top: 6%;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #ff6a5c;
}

.setBreak {
  margin-top: 4%;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #056571;
  
}

.timeNum, .breakNum {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #414141;
  display: inline-block;
  margin: 5px;
}

.timePlus, .timeMinus, .breakPlus, .breakMinus {
  outline: none !important;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #465c8b;
  border-radius: 6px;
  border: 2px solid #;
//  box-shadow: 3px 3px 5px #1b1b1c;
  display: inline-block;
  margin: 5px;
}

button:hover{
  cursor: pointer;
}
